@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Dongle&family=Genos:wght@100&display=swap');
:root {
    --background-color: #111;
    --theme-primary: rgb(92, 25, 92);
    --menu-font: 'Genos', sans-serif;
    --text-font: 'Baloo Bhaijaan 2', cursive;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

.page-container {
    height: 200vh;
    width: 100%;
    margin-left:25%;
    color: white;
}

.page-container::-webkit-scrollbar {
    display: block;
    width: 8px;
}

.page-container::-webkit-scrollbar-track {
    display: block;
    background-color: black;
}

.page-container::-webkit-scrollbar-thumb {
    background-color: #444;
    display: block;
    border-radius: 10px;
}

.top-nav {
    width: 100%;
    background-color: rgba(0,0,0, 0.5);
    /* border-bottom: solid 1px #444; */
    top: 0;
    display: flex;
    font-family: var(--menu-font);
    font-size: 48px;
    position: sticky;
}

.nav-controls {
    list-style: none;
    display: flex;
    align-content: center;
    align-items: center;
    margin: 0;
}

li {
    color: white;
    margin-left: 10%;
}

.circle {

    background-color: var(--theme-primary);
    border-radius: 100%;
    border-width: 10px;

}

